<div class="flash-notices">
  <% if flash[:errors] %>
    <ul class="error-flash-notices">
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <% if flash[:notice] %>
    <ul class="notice-flash-notices">
      <% flash[:notice].each do |notice| %>
        <li><%= notice %></li>
      <% end %>
    </ul>
  <% end %>

  <% if flash[:notice] || flash[:errors] %>
    <figure class="flash-close"></figure>
  <% end %>
</div>

<% if !signed_in? %>
<span class="sign-up-banner">
  <div class="sign-up-container group">
    <strong>Find Your Next Favorite Video Game.</strong>
    <h2>Create an Account</h2>
    <form action="<%= users_url %>" method="post">
      <%= auth_token %>
      <input type="text" name="user[name]" value="<%= @user.name %>" placeholder="name">

      <input type="text" name="user[email]" value="<%= @user.email %>" placeholder="email">

      <input type="password" name="user[password]" placeholder="password">

      <button>Sign Up</button>

      <small>or</small>
      <a href="/auth/google_oauth2" class="google-img"></a>

    </form>
  </div>
</span>
<% end %>

<div class="background-img-container">
  <img src="http://i.imgur.com/2D2aJVc.jpg" class="background-img" alt="" />
</div>

<span class="notification"></span>

<div id="content"></div>

<script>
  $(document).on("ready", function () {
    $(".flash-close").on("click", function (event) {
      $(".flash-notices").addClass("leave-top");
      $(".flash-close").addClass("inactive");
    })
  })
</script>
