<figure class="game-instance">


  <ul class="want-button-options-list">
    <li id="add-to-played">add to played</li>
    <li id="add-to-currently-playing">add to currently playing</li>
    <li id="options-add-list">add list</li>
  </ul>

  <button class="want-button-options"></button>

  <button class="want-button"
          data-id="<%= game.id %>"
          <% if (!UberMicro.currentUser.signed_in()) { %> disabled <% } %> >
    <% if (game.myGame) { %>
      <%= game.myGame.escape("status") %>
    <% } else { %>
      wants-to-play
    <% } %>
  </button>

  <ul>
    <li>
      title: <a href="#/games/<%= game.id %>"><%= game.escape("title") %></a>
    </li>
    <li>genre: <%= game.escape("genre") %></li>
    <li>company: <%= game.escape("company") %></li>
    <li>description: <%= game.escape("description") %></li>
  </ul>
</figure>

<% if (showComments) { %>
  <figure class="comments-container">

    <% if (UberMicro.currentUser.signed_in())  { %>

    <section class="comment-input-box group">
      <h3>Comment or Review <%= game.escape("title") %></h3>

      <form class="comment-form">
        <textarea name="comment[body]"><% newComment.escape("body") %></textarea>
        <button class="submit-comment-button">post</button>
      </form>
    </section>
    <% } %>

    <h2>Comments and Reviews</h2>
    <ul class="game-comments-list">
      <% game.comments().forEach(function (comment) { %>
        <li>
          <small>by, <%= comment.escape("author") %></small>
          <p>
            <%= comment.escape("body") %>
          </p>
        </li>
      <% }) %>
    </ul>

  </figure>
<% } %>
