<figure class="game-instance">

  <button class="want-button"
          data-id="<%= game.id %>"
          <% if (!UberMicro.currentUser.signed_in()) { %> disabled <% } %> >
    <% if (game.myGame && game.myGame.get("status") === "wants-to-play") { %>
    unwant to play
    <% } else { %>
    want to play
    <% } %>
  </button>

  <ul>
    <li>
      title: <a href="#/games/<%= game.id %>"><%= game.escape("title") %></a>
    </li>
    <li>genre: <%= game.escape("genre") %></li>
    <li>company: <%= game.escape("company") %></li>
    <li>description: <%= game.escape("description") %></li>
  </ul>
</figure>

<% if (showComments) { %>
  <figure class="comments-container">

    <% if (UberMicro.currentUser.signed_in())  { %>

    <section class="comment-input-box">
      <h3>Comment or Review <%= game.escape("title") %></h3>

      <form class="comment-form">
        <button class="submit-comment">post</button>
        <textarea name="comment[body]"><% newComment.escape("body") %></textarea>
      </form>
    </section>
    <% } %>

    <h2>Comments and Reviews</h2>
    <ul class="game-comments-list">
      <% game.comments().forEach(function (comment) { %>
        <li>
          <small>by, <%= comment.escape("author") %></small>
          <p>
            <%= comment.escape("body") %>
          </p>
        </li>
      <% }) %>
    </ul>

  </figure>
<% } %>
