<figure class="game-instance">

  <button class="want-button"
          data-id="<%= game.id %>"
          <% if (!UberMicro.currentUser.signed_in()) { %> disabled <% } %> >
    <% if (game.myGame && game.myGame.get("status") === "wants-to-play") { %>
    unwant to play
    <% } else { %>
    want to play
    <% } %>
  </button>

  <ul>
    <li>
      title: <a href="#/games/<%= game.id %>"><%= game.escape("title") %></a>
    </li>
    <li>genre: <%= game.escape("genre") %></li>
    <li>company: <%= game.escape("company") %></li>
    <li>description: <%= game.escape("description") %></li>
  </ul>
</figure>

<% if (showComments) { %>
  <figure class="comments-container">
    <h2>Comments</h2>
    <ul class="game-comments-list">
      <% game.comments().forEach(function (comment) { %>
        <li>
          <small>by, <%= comment.escape("author") %></small>
          <p>
            <%= comment.escape("body") %>
          </p>
        </li>
      <% }) %>

      <% if (UberMicro.currentUser.signed_in())  { %>
        <h3>Comment on <%= game.escape("title") %></h3>

        <li class="input-box">
          <form class="comment-form">
            <textarea><% newComment.escape(body) %></textarea>
          </form>
          <button class="submit-comment">post</button>
        </li>
      <% } %>
    </ul>
  </figure>
<% } %>
