
<button class="want-button" data-id="<%= game.id %>">
  <% if (game.myGame && game.myGame.get("status") === "wants-to-play") { %>
  unwant to play
  <% } else { %>
  want to play
  <% } %>
</button>
<ul>
  <li>
    title: <a href="#/games/<%= game.id %>"><%= game.escape("title") %></a>
  </li>
  <li>genre: <%= game.escape("genre") %></li>
  <li>company: <%= game.escape("company") %></li>
  <li>description: <%= game.escape("description") %></li>
</ul>
