<figure class="game-instance">

  <div class="game-image-container">
    <img src="<%= game.escape("image_url") %>" alt="image"/>
  </div>

  <ul class="want-button-options-list">
    <% UberMicro.currentUser.lists().forEach(function (list) { %>
      <li id="<%= list.escape("name") %>">
        <%= list.escape("name")%>
      </li>
    <% }) %>
    <span id="add-list">
      <small id="add-list-text">create a list</small>
      <form id="list-form" class="inactive">
        <input type="text" name="list[name]">
        <button id="list-form-submit-button"></button>
      </form>
    </span>
  </ul>

  <button class="want-button-options"
          <% if (!UberMicro.currentUser.signed_in()) { %> disabled <% } %> >
  </button>

  <button class="want-button"
          data-id="<%= game.id %>"
          <% if (!UberMicro.currentUser.signed_in()) { %> disabled <% } %> >
    <% if (game.myGame) { %>
      <%= game.myGame.escape("status") %>
    <% } else { %>
      wants-to-play
    <% } %>
  </button>

  <ul>
    <li>
      title: <a href="#/games/<%= game.id %>"><%= game.escape("title") %></a>
    </li>
    <li>genre: <%= game.escape("genre") %></li>
    <li>company: <%= game.escape("company") %></li>
    <li>description: <%= game.escape("description") %></li>
  </ul>
</figure>

<% if (showComments) { %>
  <figure class="comments-container">

    <% if (UberMicro.currentUser.signed_in())  { %>

    <section class="comment-input-box group">
      <h3>Comment or Review <%= game.escape("title") %></h3>

      <form class="comment-form">
        <textarea name="comment[body]"><% newComment.escape("body") %></textarea>
        <button class="submit-comment-button">post</button>
      </form>
    </section>
    <% } %>

    <h2>Comments and Reviews</h2>
    <ul class="game-comments-list">
      <% game.comments().forEach(function (comment) { %>
        <li>
          <small>by, <%= comment.escape("author") %></small>
          <figure class="avatar-thumb-container">
            <img class="avatar-thumb" src="<%= comment.escape("author_avatar_url") %>" alt="profile picture" />
          </figure>
          <p class="comment-text">
            <%= comment.escape("body") %>
          </p>
        </li>
      <% }) %>
    </ul>

  </figure>
<% } %>
