<ul>
  <% myGames.forEach(function (my_game) { %>
    <li>
      <ul>
        <li>title: <%= my_game.game.escape("title") %></li>
        <li>genere: <%= my_game.game.escape("genre") %></li>
        <li>company: <%= my_game.game.escape("company") %></li>
        <li>description: <%= my_game.game.escape("description") %></li>
        <li>status: <%= my_game.escape("status") %></li>
        <li>my rating: <%= my_game.escape("my_rating") %></li>
      </ul>
    </li>
  <% }) %>
</ul>
