<figure class="my-game-instance">
  <span class="title"><%= myGame.game.escape("title") %></span>
  <span class="genre"><%= myGame.game.escape("genre") %></span>
  <span class="company"><%= myGame.game.escape("company") %></span>
  <span class="list"><%= myGame.escape("status") %></span>
  <span class="avg-rating"><%= myGame.game.escape("avg_rating") %></span>
  <span class="my-rating"><%= myGame.escape("my_rating") %></span>
</figure>
