<figure class="my-game-instance">
  <span class="title">
    <a href="#/games/<%= myGame.game.id %>"><%= myGame.game.escape("title") %></a>
  </span>
  <span class="genre">
    <a href="#/games/search/<%= myGame.game.escape("genre") %>">
      <%= myGame.game.escape("genre") %>
    </a>
  </span>
  <span class="company">
    <a href="#/games/search/<%= myGame.game.escape("company") %>">
      <%= myGame.game.escape("company") %>
    </a>
  </span>
  <span class="list"><%= myGame.escape("status") %></span>
  <span class="avg_rating"><div id="jRateAvg<%= myGame.game.id %>"></div></span>
  <span class="my_rating"><div id="jRate<%= myGame.id %>"></div></span>
</figure>
