<div class="anchor"></div>

<span class="header group">
  <nav id="main-nav" class="group">
    <div class="logo-main-container">
      <a href="#/about">
        <img src="<%= asset_path("logo2wblack.png") %>" alt="main logo" />
      </a>
    </div>

    <search class="search-box-container"></search>

    <% if signed_in? %>
      <%= button_to_sign_out %>
      <a class="nav-links home-link" href="#">Home</strong></a>
      <a class="nav-links my-games-link" href="#/my_games">myGames</strong></a>
    <% else %>
    <% user = User.new %>

    <span class="sign-in-form group">
      <form action="<%= session_url %>" method="post">
        <%= auth_token %>

        <input id="sign-in-email" type="text"
               name="user[email]" value="<%= user.email %>"
               placeholder="email">

        <input id="sign-in-password"
               type="password"
               name="user[password]"
               placeholder="password">

        <button>Sign In</button>

      </form>

    </span>
    <% end %>

  </nav>
</span>
